VOICE_URL="https://www.exampleone.com"
MESSAGING_URL="https://www.exampleone.com"
STUDIO_URL="https://www.exampleone.com"
OLD_VOICE_URL="https://www.exampletwo.com"
OLD_MESSAGING_URL="https://www.exampletwo.com"
OLD_STUDIO_URL="https://www.exampletwo.com"
ACCOUNT_SID="ACCOUNT_SID"
AUTH_TOKEN="AUTH_TOKEN"